
li {
    color: #fff;
  background: purple;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
  transition-duration: 0.5s;
}
  
li a {
  color: #fff;
}

li:hover {
    background: pink;
    cursor: pointer;
}

ul li ul {
    background: purple;
    visibility: hidden;
  opacity: 0;
  min-width: 5rem;
    position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
    left: 0;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
    clear: both;
  width: 100%;
}




input[type=text] {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
  width: 100%;
}
p {
 color: white;
}

h2 {
	color: pink;
}
h3 {
	color: white;
}


      #p-flex {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }

      div.p-flex {
        width: 25%;
      }
      div.p-flex-in {
        box-sizing: border-box;
        margin: 5px;
        padding: 10px;
        border: 1px solid #e7fcde;
        background: pink;
      }
      img.p-img {
        width: 100%;
        height: auto;
      }
      div.p-name {
        font-weight: bold;
        font-size: 1.1em;
      }
      div.p-price {
        color: #f44242;
      }
      div.p-desc {
        color: #888;
        font-size: 0.9em;
      }
      button.p-add {
        background: #f46b41;
        color: #fff;
        border: none;
        width: 100%;
        padding: 10px;
        margin: 10px 5px 5px 5px;
        font-size: 1.1em;
        font-weight: bold;
        cursor: pointer;
      }

      @media only screen and (max-width: 1024px) {
        div.p-flex { width: 33%; }
      }
      @media only screen and (max-width: 600px) {
        div.p-flex { width: 50%; }
      }

      html, body {
        padding: 0;
        margin: 0;
        font-family: arial, sans-serif;
      }
	  
	  